<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="changePas" method="post" id="lab">
    <table id="tab">
        <tr align="center">
            <td colspan="2">修改密码</td>
        </tr>
        <tr>
            <td>旧密码：</td><td><input type="oldPass" name="oldPass" /></td>
        </tr>
        <tr>
            <td>密码：</td><td><input type="password" name="password" id="pas"/></td>

        </tr>
        <tr>
            <td>确认密码：</td><td><input type="password" id="confirm" /></td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <input type="button" value="修改" onclick=sub() >
                <input type="reset" value="重填" />
            </td>
        </tr>
    </table>
</form>
<form action="py" method="post">
    <msg name="uid" hidden="hidden">[[${uid}]]</msg>
    <p><input type="submit" value="返回"></p>
</form>
<SCRIPT>
    function sub(){
        if(document.getElementById("pas").value==document.getElementById("confirm").value){document.getElementById("lab").submit();}
        else {alert("密码不一致");}
    }
</SCRIPT>
</body>
</html>